*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}




:root {
	--font-big: 40px;
	--font-medium: 18px;
	--font-small: 15px;}
* {
	line-height: 120%;
	transition: all 0.2s;
	user-select: none;
}
body {font-family: 'Montserrat', sans-serif;}
.wrapper {
	min-height: 100%;
	padding-top: 110px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: linear-gradient(135deg, rgba(50,50,250,0.2), rgba(225,25,225,0.2));
}
header {
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	color: #eee;
	background: #111;
}
header .container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 25px;
}
.lang {
	width: 150px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lang_en, .lang_ru {
	text-transform: uppercase;
	font-size: var(--font-small);
}
.lang_switch {
	height: 25px;
	width: 50px;
	border: 2px solid #eee;
	border-radius: 12.5px;
	padding: 3px;
	cursor: pointer;
	position: relative;
}
.lang_switch_dot{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	transition: all 0.3s;
	background: #fff;
}
.resume {
	width: 150px;
	font-size: var(--font-medium);
	text-align: center;
	text-transform: uppercase;
}
.colors {
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.colors_item {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 2px solid #eee;
	cursor: pointer;
	transition: all 0.2s;
}
.colors_item:nth-child(1){background: linear-gradient(135deg, rgb(50,50,250), rgb(225,25,225));}
.colors_item:nth-child(2){background: linear-gradient(135deg, rgb(50,150,250), rgb(25,225,25));}
.colors_item:nth-child(3){background: linear-gradient(135deg, rgb(250,50,50), rgb(225,225,25));}
.colors_item:nth-child(4){background: linear-gradient(135deg, rgb(0, 0, 0) 25%, rgb(250, 250, 250));}
.colors_item:hover{scale: 120%;}

.mobile-header {
	display: none;
	height: 35px;
	min-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	text-align: center;
	text-transform: uppercase;
	line-height: 35px;
	font-size: var(--font-medium);
	color: #eee;
	background: #111;
}
.mobile-header_open {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 15px;
	line-height: 35px;
	text-align: center;
	height: 35px;
	width: 45px;
}
.burger {
	padding: 45px 10px 10px 10px;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: -100vh;
	right: 0;
	z-index: 5;
	backdrop-filter: blur(2px);
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: end;
	gap: 10px;
	transition: all 0.5s;
}
.burger_item {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 2px solid #eee;
	transition: all 0.2s;
}
.burger_color {}
.burger_color:nth-child(4){background: linear-gradient(135deg, rgb(50,50,250), rgb(225,25,225));}
.burger_color:nth-child(3){background: linear-gradient(135deg, rgb(50,150,250), rgb(25,225,25));}
.burger_color:nth-child(2){background: linear-gradient(135deg, rgb(250,50,50), rgb(225,225,25));}
.burger_color:nth-child(1){background: linear-gradient(135deg, rgb(0, 0, 0) 25%, rgb(250, 250, 250));}
.burger_lang {
	background: #111;
	color: #fff;
	text-transform: uppercase;
	line-height: 23px;
	text-align: center;
	font-size: 12px;
}
.burger_close {
	background: #111;
	color: #eee;
	line-height: 23px;
	text-align: center;
	font-size: 15px;
}

.title {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: var(--font-big);
	font-weight: 600;
	text-align: center;
}
.body {
	font-size: var(--font-small);
	margin-bottom: 30px;
}
.tabulation {margin-left: 30px;}
.intro {}
.intro_title{
	font-weight: 700;
	background: linear-gradient(135deg, rgb(50,50,250), rgb(225,25,225));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.intro_body{}
.intro_body_info {
	min-height: 130px;
	padding: 15px 15px 15px 130px;
	border-radius: 65px 0px 0px 65px;
	position: relative;
	color: #fff;
	background: linear-gradient(135deg, rgb(50,50,250), rgb(225,25,225));
}
.intro_body_info-img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15px;
	left: 15px;
	background: url(img/cv_img2.jpg) center center no-repeat;
	background-size: cover;
}
.skills {}
.skills_title {}
.skills_body {}
.skills_body_items {
	max-width: 800px;
	margin: 0 auto 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}
.skills_body_item {
	height: 125px;
	width: 225px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 500;
	background: #eee;
}
.skills_body_item:hover{box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);}
.donut {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.skills_body_items .skills_body_item:nth-child(1) .donut{background: conic-gradient(rgb(50,50,250), rgb(225,25,225) 88%, #ddd 92%);}
.skills_body_items .skills_body_item:nth-child(2) .donut{background: conic-gradient(rgb(50,50,250), rgb(225,25,225) 78%, #ddd 82%);}
.skills_body_items .skills_body_item:nth-child(3) .donut{background: conic-gradient(rgb(50,50,250), rgb(225,25,225) 68%, #ddd 72%);}
.skills_body_items .skills_body_item:nth-child(4) .donut{background: conic-gradient(rgb(50,50,250), rgb(225,25,225) 58%, #ddd 62%);}
.skills_body_items .skills_body_item:nth-child(5) .donut{background: conic-gradient(rgb(50,50,250), rgb(225,25,225) 48%, #ddd 52%);}
.skills_body_items .skills_body_item:nth-child(6) .donut{background: conic-gradient(rgb(50,50,250), rgb(225,25,225) 38%, #ddd 42%);}
.donut_dot{
	content: '';
	height: 10px;
	width: 10px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	background: rgb(50,50,250);
}
.donut_overflow{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	line-height: 80px;
	text-align: center;
	display: block;
	color: #111;
	background: #eee;
}
.skill{
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	color: #111;
}
.skills_body_info {}
.works {}
.works_title {}
.works_body {}
.works_body_slider {
	border-radius: 25px;
	position: relative;
	margin: 0 auto;
	height: 340px;
	width: 600px;
	display: flex;
	overflow: hidden;
}
.works_body_slider:hover {box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);}
.works_body_slider-item {
	padding: 15px;
	height: 100%;
	min-width: 100%;
	font-size: 35px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #eee;
	background: #111;
}
.works_body_slider-item:nth-child(1){
	transition: all 0.3s;
	background: url(img/online-zoo-screenshot.PNG) center center no-repeat;
	background-size: cover;
}
.works_body_slider-item:nth-child(1):hover{scale: 105%;}
.works_body_track {
	height: 25px;
	width: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	bottom: 10px;
	left: calc(50% - 75px);
}
.works_body_track_dot {
	height: 25px;
	width: 25px;
	border-radius: 12.5px;
	border: 2px solid #eee;
	cursor: pointer;
	transition: all 0.2s;
	background: linear-gradient(135deg, rgb(50,50,250), rgb(225,25,225));
}
.works_body_track_dot:hover{scale: 120%;}
.hobbies {flex: 1 1 auto;}
.hobbies_title {}
.hobbies_body {}
.hobbies_body_info {margin-bottom: 20px;}
.hobbies_body_items {
	max-width: 800px;
	margin: 0 auto 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}
.hobbies_body_item {
	height: 125px;
	width: 225px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 500;
	background: #eee;
}
.hobbies_body_item:hover{box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);}
.hobbies_donut {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
	background: linear-gradient(135deg, rgb(50,50,250), rgb(225,25,225));
}
.hobbies_donut:after{
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.hobbies_body_items .hobbies_body_item:nth-child(1) .hobbies_donut:after{
	background: url(img/hobbies/basketball.png) center center no-repeat;
	background-size: 70%;
}
.hobbies_body_items .hobbies_body_item:nth-child(2) .hobbies_donut:after{
	background: url(img/hobbies/ping_pong.png) center center no-repeat;
	background-size: 65%;
}
.hobbies_body_items .hobbies_body_item:nth-child(3) .hobbies_donut:after{
	background: url(img/hobbies/billiards.png) center center no-repeat;
	background-size: 60%;
}
.hobbie {
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	color: #111;
}
.contacts {
	padding: 10px 0;
	color: #eee;
	background: #111;
}
.contacts_title {color: #ddd;}
.contacts_body {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.contacts_body_column div{
	margin-bottom: 10px;
}
.contacts_body_item {
	display: block;
	margin-bottom: 10px;
	color: #eee;
}
.contacts_body_item:hover{text-decoration: underline;}
.madeBy {
	position: absolute;
	bottom: 0;
	right: 0;
}
.madeBy_heart {}

@media (max-width: 1024px){
	.container{padding: 0 20px;}
	header{height: 60px;}
	.wrapper{padding-top: 82.5px;}
	:root{
		--font-big: 35px;
		--font-medium: 17px;
		--font-small: 14px;
	}
	.title {margin-bottom: 7.5px;}
	.body {margin-bottom: 25px;}
	.skills_body_items{margin-bottom: 17.5px;}
	.hobbies_body_info{margin-bottom: 17.5px;}
	.skills_body_items, .hobbies_body_items{gap: 25px;}
}
@media (max-width: 768px){
	.container{padding: 0 15px;}
	header {height: 40px;}
	.wrapper{padding-top: 55px;}
	:root{
		--font-big: 30px;
		--font-medium: 16px;
		--font-small: 13px;
	}
	.title {margin-bottom: 5px;}
	.body {margin-bottom: 20px;}
	.skills_body_items{margin-bottom: 15px;}
	.hobbies_body_info {margin-bottom: 15px;}
	.skills_body_items, .hobbies_body_items{gap: 20px;}
	.intro_body_info {
		padding: 15px;
		border-radius: 25px;
	}
	.intro_body_info-img {display: none;}
	.works_body_slider {
		height: 50vw;
		width: 90vw;
		scroll-snap-type: x mandatory;
		overflow-x: scroll;
	}
	.works_body_slider::-webkit-scrollbar {display: none;}
	.works_body_slider-item {
		font-size: 22px;
		scroll-snap-align: center;
	}
	.works_body_track {display: none;}
	.works_body_track_dot {display: none;}
}
@media (max-width: 425px){
	.wrapper{padding-top: 41.25px;}
	:root{
		--font-big: 25px;
		--font-medium: 15px;
		--font-small: 12px;
	}
	.title {margin-bottom: 2.5px;}
	.body {margin-bottom: 15px;}
	.skills_body_items{margin-bottom: 12.5px;}
	.hobbies_body_info {margin-bottom: 12.5px;}
	.skills_body_items, .hobbies_body_items{gap: 15px;}
	.works_body_slider-item{font-size: 16px}
	header{display: none;}
	.mobile-header{display: block;}
}